/* Feedback form styles */

.feedback-form-holder {
  font-family: inherit;
  font-size: inherit;
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 768px;  
}

.feedback-form-holder .feedback-error {
  color: #ff0000;
  font-size: 0.8em;
  text-align: left;
  line-height: 1;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 5px;
}

.feedback-form-holder .feedback-success {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feedback-success .message {
  padding: 0 15px 50px;
  font-size: 1.25em;
}

.feedback-form {
  font-family: inherit;
  margin: 0 auto;
  padding: 0;
}

.feedback-form.submitted {
  opacity: 0;
}

.feedback-form.submitted ~ .feedback-success {
  display: flex;
  flex-direction: column;
}

.feedback-form .feedback-form-title {
  padding: 0;
  margin-bottom: 15px;
}

.feedback-form .feedback-form-control-wrap {
  display: block;
  position: relative;
  padding: 0 0 20px 0;
  margin: 0;
}

.feedback-form .feedback-form-control-wrap:last-child {
  margin-bottom: 0;
  margin-top: 15px;
  padding: 0;
}

.feedback-form .feedback-form-control-wrap.submit {
  display: inline-block;
}

.feedback-form .feedback-form-control-wrap.invalid .feedback-form-control {
  border-color: #ff0000;
}

.feedback-form .feedback-form-control-wrap .feedback-submit {
  cursor: pointer;
  font-size: inherit;
  padding: 15px 55px;
  margin: 0;
}

.feedback-form .feedback-form-control-wrap .error-message {
  position: absolute;
  color: #ff0000;
  font-size: 0.8em;
  line-height: 1;
  right: 0;
  bottom: 0;
}

.feedback-form .feedback-form-control {
  display: block;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 15px;
}

.feedback-form .feedback-form-control label {
  margin: 0;
  padding: 0;
  text-align: left;
}

.feedback-ajax-doing > .feedback-spinner {
  display: inline-block;
}

.feedback-spinner {
  display: none;
  font-size: 5px;
  position: absolute;
  top: 50%;
  right: -45px;
  text-indent: -9999em;
  border-top: 1em solid rgba(0, 0, 0, 0.2);
  border-right: 1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1em solid rgba(0, 0, 0, 0.2);
  border-left: 1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: feedback-loader 1.1s infinite linear;
  animation: feedback-loader 1.1s infinite linear;
}

.feedback-spinner,
.feedback-spinner:after {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

/* spinner animation */

@-webkit-keyframes feedback-loader {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
    transform: translateY(-50%) rotate(360deg);
  }
}
@keyframes feedback-loader {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
    transform: translateY(-50%) rotate(360deg);
  }
}

/* Feedback list styles */

.feedback-list-wrapper {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #a0a0a0;
  width: 100%;
}

.feedback-list-wrapper .feedback-row {
  position: relative;
  display: flex;
  border-bottom: 1px solid #a0a0a0;
}

.feedback-list-wrapper .no-feedbacks {
  padding: 15px;
}

.feedback-list-wrapper .feedback-header {
  background: #3a3b3b;
}

.feedback-list-wrapper .feedback-header .feedback-col {
  color: #ffffff;
}

.feedback-list-wrapper .feedback-col {
  line-height: 1.4;
  border-right: 1px solid #a0a0a0;
  padding: 15px 8px;
  overflow-wrap: break-word;
}

.feedback-list-wrapper .feedback-col:last-child {
  border-right: none;
}

.feedback-list-wrapper .feedback-entrie {
  position: relative;
  cursor: pointer;
  transition: background 0.2s linear;
}

.feedback-list-wrapper .feedback-entrie:nth-child(even) {
  background: rgb(240, 240, 240);
}

.feedback-list-wrapper .feedback-entrie:hover {
  background: #c2c2c2;
  transition: background 0.2s linear;
}

.feedback-list-wrapper .feedback-spinner {
  z-index: 2;
  right: 50%;
}

.feedback-list-wrapper.feedback-ajax-doing::after,
.feedback-list-wrapper .feedback-entrie.feedback-ajax-doing::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.feedback-list-wrapper .feedback-entrie.feedback-selected {
  background: rgb(70, 70, 70);
  color: #ffffff;
}

.feedback-list-wrapper .feedback-entrie.feedback-selected:hover {
  background: rgb(70, 70, 70);
  color: #ffffff;
}

.feedback-list-wrapper .feedback-row .feedback-first-name,
.feedback-list-wrapper .feedback-row .feedback-last-name {
  width: 15%;
}

.feedback-list-wrapper .feedback-row .feedback-email {
  width: 30%;
}

.feedback-list-wrapper .feedback-row .feedback-subject {
  flex: 1;
}

.feedback-list-wrapper .feedback-row .feedback-message {
  display: none;
  border: none;
  width: 0;
  margin: 0;
  padding: 0;
}

.feedback-list-wrapper .feedback-list-error {
  color: #ff0000;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 1.4;
}

/* selected feedback block */

.current-feedback {
  display: none;
  position: relative;
  padding: 25px 15px;
  background: #ffffff;
  border-bottom: 1px solid #a0a0a0;
}

.current-feedback.selected {
  display: block;
}

.current-feedback .feedback-field {
  margin: 0 0 15px 0;
}

.current-feedback .feedback-user-meta .feedback-first-name,
.current-feedback .feedback-user-meta .feedback-last-name {
  font-weight: bold;
}

.current-feedback .feedback-label {
  text-decoration: underline;
  margin-bottom: 8px;
}

/* pagination link */

.feedback-paginate {
  margin: 0;
  padding: 25px 15px;
  text-align: center;
}

.feedback-paginate .page-numbers {
  padding: 0 5px;
}

/* access denial */

.feedback-access-denail {
  padding: 25px;
  text-align: center;
  background: red;
  color: white;
}

body.feedback-denail-page {
  display: flex;  
  height: 100vh;
  margin: 0;
  background: white;
  position: relative;
  align-items: center;
}

.feedback-denail-page .feedback-access-denail {
  min-height: 200px;
  width: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}